{{- $section2 := .Site.Params.section2 }}
<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <article class="media icon-box">
          <div class="media-content">
            <div class="content">
              <h1 class="subtitle">スマートフォンアプリ制作</h1>
              <p>
                <span class="icon-box-text">
                  iOS、Androidなどを代表したスマートフォンに対応したアプリケーション開発に対応できます。
                  開発も含め、企画・デザイン・プロモーションなどトータルでご提供できます。
                  AppStore 20万DL数超えの開発経験があるスタッフがお困りの問題を解決致します。
                  ゲームや飲食店のスタンプカードアプリの対応もできますので、お気軽に問い合わせください。
                </span>
              </p>
            </div>
          </div>
          <figure class="media-right">
            <p class="image">
              <img src="./images/section_image02.jpg" alt="image">
            </p>
          </figure>
        </article>
      </div>
    </div>
  </div>
</section>