{{- $section2 := .Site.Params.section2 }}
<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <article class="media icon-box">
          <figure class="media-left">
            <p class="image">
              <img src="https://placehold.jp/600x480.png" alt="image">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="subtitle">メディアサイト運営代行</h1>
              <p>
                <span class="icon-box-text">
                  自社メディアを運営しているノウハウをもとに、記事の作成から、デザイン、機能開発まで幅広くケアし、メディアの運営を支援致します。
                  運用面のサポートやライターの教育も行っておりますので、お問い合わせください。
                </span>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>