{{- $section2 := .Site.Params.section2 }}
<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <article class="media icon-box">
          <figure class="media-left">
            <p class="image">
              <img src="./images/section_image01.jpg" alt="image">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="subtitle">Webサイト制作</h1>
              <p>
                <span class="icon-box-text">
                  大手Web制作会社にいたデザイナーやエンジニアが豊富な経験から、お客様にビジネスに合ったサイト作りを提供致します。
                  SEOやサイトの定期的な更新、メディア運営なども行っており、効果を最大限に活かしたデジタルマーケティングのお手伝いをします。
                  
                </span>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>